@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Fixes the light bg behind the address bar in iOS Safari */
  root,
  html,
  body {
    @apply bg-g-100;
    height: 100%;
  }

  #__next {
    height: 100%;
  }

  /*
  Customize the styling of `react-phone-number-input`.
   */
  #contact-phone {
    @apply w-full;
    @apply rounded-lg;
    @apply border;
    @apply border-g-60;
    @apply bg-g-80;
    @apply px-3;
    @apply py-[11px];
    @apply outline-none;
    @apply placeholder:opacity-32;
    @apply focus:border-g-10;
    @apply focus:bg-g-60;
    @apply transition-all;
    @apply hover:border-g-30;
  }
}

@layer components {
  .type-body {
    font-family: theme("fontFamily.lexend");
    font-weight: normal;
    letter-spacing: 0.14px;
    line-height: 20px;
    font-size: 14px;
  }
}
